<!DOCTYPE html>
<html>
<head>
    <title>Google API for feeding some data</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
            integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <script>
        // This example requires the Places library. Include the libraries=places
        // parameter when you first load the API. For example:
        // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -33.866, lng: 151.196},
                zoom: 15
            });

            var infowindow = new google.maps.InfoWindow();
            var service = new google.maps.places.PlacesService(map);

            service.getDetails({
                placeId: 'ChIJN1t_tDeuEmsRUsoyG83frY4'
            }, function (place, status) {
                if(status === google.maps.places.PlacesServiceStatus.OK) {
                    var marker = new google.maps.Marker({
                        map: map,
                        position: place.geometry.location
                    });
                    google.maps.event.addListener(marker, 'click', function () {
                        infowindow.setContent('<div id="popover" xmlns="http://www.w3.org/1999/html"><div><strong>' + place.name + '</strong><br>' +
                            'Place ID: ' + place.place_id + '<br>' +
                            place.formatted_address + '</div><br>' +
                            '<div class="navbar-form">' +
                            '<input required class="form-control" type="text" id="email" placeholder="Email Address"/>' +
                            '<button class="btn btn-primary" ' +
                            'onclick="submitData()">Send</button>' +
                            '<div id="status-msg" class="text-warning"><label></label></div> </div></div>');

                        infowindow.open(map, this);
                    });
                }
            });
        }

        /**
         *  validate email
         *
         * @param email
         */
        function validateEmail(email) {
            var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }

        /**
         *  submit handler
         *
         */
        function submitData() {
            var email = document.getElementById('email').value;

            if(validateEmail(email)) {
                var param = 'email=' + email;
            }
            else {
                document.getElementById('status-msg').innerHTML = 'Please enter valid email';
                return;
            }

            var url = './sendEmail';

            postUrl(url, param, function (data, responseCode) {
                if(responseCode == 200 && data.length <= 1) {
                    document.getElementById('popover').innerHTML = 'send email successfully.';
                }
                else {
                    document.getElementById('popover').innerHTML = 'Try again.';
                }
            });
        }

        /**
         *  post url to send email
         * @param url
         * @param param
         * @param callback
         */
        function postUrl(url, param, callback) {
            var request = window.ActiveXObject ?
                new ActiveXObject('Microsoft.XMLHTTP') :
                new XMLHttpRequest;

            request.onreadystatechange = function () {
                if(request.readyState == 4) {
                    request.onreadystatechange = doNothing;
                    callback(request.responseText, request.status);
                }
            };
            request.open("POST", url, true);
            request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            request.send(param);
        }
    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div id="map" style="height:50em"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAz_D8k1TPiqJjZ_XipMFca--2MYlQoj2c&libraries=places&callback=initMap">
</script>
</body>
</html>
